fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
motor
email-validator
passlib[bcrypt]
python-jose[cryptography]
fastapi-mail
aiosmtplib
python-multipart
fastapi[standard]
langchain_community
langchain
langgraph
langchain_ollama
langchain_google_vertexai
langchain
tavily-python
langchain-tavily
langchain-google-genai
dotenv
pandas
numpy
python-jose[cryptography]
fastapi-mail
